#appContainer{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(450px,1fr));
  grid-row-gap:50px;
}

.titleBar{
  background-color:azure;
  display:flex;
  align-items:center;
  padding: 6px;
  font-weight:bold;
  border:2px solid black;
}

.icon{
  display:flex;
  margin-left:auto;
}

#editor{
  resize:none;
  width:99%;
  margin-top:-2px;
  margin-bottom: 15px;
  height:610px;
  background-color:whitesmoke;
  border:2px solid black;
}

#preview{
  height:600px;
  margin-bottom:5px;
  overflow-y:scroll;
  padding:5px;
  border-left:2px solid black;
  border-right:2px solid black;
  border-bottom:2px solid black;
}

i:hover{
  cursor:pointer;
  color:blue;
}

.minimize{
  display:none;
}

.maximize{
 height:600px!important; 
}

.small{
  height:250px !important;
  width:425px !important;
  position:fixed;
  right:10px;
  bottom:0;
}

@media (max-width:933px){
  #editor{
    height:300px;  
  }
  .maximize #editor{
    height:600px;
  }
}
